ul{
  padding: 0;
  margin: 0;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Rosario', sans-serif;
  font-size: 16px;
  color: #050505;
  min-height: 100vh;
  background: linear-gradient(295deg, #98f9e6 38%, transparent 38%),linear-gradient(395deg, #98f9e6 16%, transparent 16%), #eefbfd;;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
.bg{
  background: no-repeat url(./assets/img/bg.png);
  background-size: 60vw;
  height: 75vh;
  background-position-x: right;
  background-position-y: top;
}
.main-text{
  position: absolute;
  top: 32%;
  font-size: 40px;
  width: 485px;
  left: 12%;
}
.header{
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.top-header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.logo-title{
  color: #002a25;
  font-size: 30px;
  font-weight: 900;
}
.pagination{
  display: flex;
  list-style: none;
  justify-content: space-around;
  flex-wrap: wrap;
}
.page{
  /* background-color: #f1fefd; */
  padding: 10px;

}
.score{
  padding: 10px 15px;
  background: linear-gradient(to right, #e85c27, #fc9828);
  border-radius: 10px;
}
.score-text{
  color: #ffffff;
}
a{
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #050505;
}

.menu-list{
  display: flex;
  justify-content: end;
  list-style: none;
  grid-gap: 30px;
}
.menu-list li{
  padding: 10px 15px;
  
}
.active{
  background: linear-gradient(to right, #e85c27, #fc9828);
  border-radius: 10px;
  display: flex;
  align-items: center;
}
.active a{
  color: #ffffff;
}
.main{
  height: 75vh;
}
.question{
  padding: 0 30px 5px;
}
.question-inner{
  display: flex;
  grid-gap: 40px;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 15px;
  height: 200px;
  align-items: center;
  box-shadow: 0 0 5px #00ffb6a8;
}
.question-info{
  width: 50vw;
  height: 165px;
}
.question-img{
  width: 210px;
  height: 165px;
  border: 2px solid #979595c2;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-img img{
  width: 200px;
  height: 155px;
  border-radius: 25px;
}

.audio-player-controls{
  display: flex;
  grid-gap: 20px;
}
.playback-button{
  /* background: url(assets/img/play-button.png);
  background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 64px;
}
.time-block{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.timebar{
  width: 100%;
}
.time{
  display: flex;
  justify-content: space-between;
}
.volumebar{
  width: 100%;
}
.volume-block{
  display: flex;
  justify-content: center;
  align-items: self-start;
  padding-top: 12px;
}

.volume-button{
  /* background: url(assets/img/speaker-button.png);
  background-repeat: no-repeat; */
  width: 20px;
  height: 20px;
}
.answers{
  padding: 0px 30px;
}
.answers-inner{
  display: flex;
  grid-gap: 20px;
  height: 320px;
}
.answers-variants{
  width: 50%;
  background: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px #00ffb6a8;
}
.answers-list{
  list-style: none;
  line-height: 1.8;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  cursor: pointer;
}
.tracer{
  width: 7px;
  height: 7px;
  background: #050505;
  clip-path: circle(50%);
  margin-right: 20px;
}
.answers-item{
  padding: 10px 45px;
  display: flex;
  align-items: center;
}
div .answers-item:not(:last-child){
  border-bottom: 1px #e0d5d5 solid;
}
.answers-info{
  width: 50%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 5px #00ffb6a8;
}
.info-top{
  display: flex;
  align-items: center;
  grid-gap: 25px;
  justify-content: center;
  padding: 15px 15px 0;
}
.info-top-right{
  flex-grow: 2;
}
.description{
  padding: 30px;
}

.next-lvl{
  padding: 10px 30px;
}

.next-lvl-inner{
  padding: 5px;
  background-color: #d6d2d2;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 5px #00ffb6a8;
  cursor: pointer;
}
.footer-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.victory{
  display: none;
  width: 100%;
  background: white;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 0 5px #00ffb6a8;
  flex-direction: column;
  font-size: 2rem;
  margin-top: 20px;
}
.new-game{
  display: none;
}
.new-game{
  padding: 10px 30px;
}
.new-game-inner{
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 5px #00ffb6a8;
  cursor: pointer;
}
.gallery{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px 15px;
  flex-wrap: wrap;
}
.bird-card{
  width: 45%;
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 5px #00ffb6a8;
}

@media (max-width: 1200px) {
  .main-text{
    width: 285PX;
  }
}
@media (max-width: 1000px) {
  .answers-inner {
    height: 590px;
  }
  .info-top{
    flex-flow: column;
  }
  .info-top-right {
    width: 90%;
  }
  .main {
    height: auto;
  }
}
@media (max-width: 720px) {
  .header{
    height: 160px;
  }
  main{
    margin-top: 30px;
  }
  .bg{
    height: 70vh;
  }
}
@media (max-width: 640px) {
  .question-inner{
    flex-direction: column;
    grid-gap: 0;
    height: 400px;
  }
  .question-info{
    width: 80vw;
  }
  .answers-inner{
    flex-direction: column;
    height: 870px;
  }
  .answers-variants{
    width: 100%;
  }
  .answers-info{
    width: 100%;
    height: 540px;
  }
  .audio-player-controls{
    flex-wrap: wrap;
    grid-gap: 0 20px;
    justify-content: center;
  }
  .volume-block{
    padding-left: 67%;
  }
  .victory{
    height: 50vh;
    justify-content: center;
  }
}
@media (max-width: 525px) {
  .answers-inner{
    height: 920px;
  }
  .answers-info{
    height: 600px;
  }
  .time-block{
    width: 65%;
  }
  .volume-block{
    padding-left: 50%;
  }
  .question {
    padding: 0px 10px 5px;
  }
  .answers {
    padding: 0px 10px;
  }
  .next-lvl {
    padding: 10px 10px;
  }
  .new-game {
    padding: 10px 10px;
  }
  .victory-title{
    font-size: 40px;
  }
  .victory-text{
    font-size: 30px;
  }
  .main-text{
    width: 180px;
    font-size: 25px;
  }
  .bg{
    height: 65vh;
  }
  .menu-list{
    grid-gap: 0 15px;
    flex-wrap: wrap;
  }
  .bird-card{
    width: 90%;
  }
}

@media (max-width: 390px) {
  .header{
    height: 200px;
  }
}

